.button{
    -fx-background-color: #071d58;
    -fx-background-radius: 30 0 0 30;
    -fx-font-size:18;
    -fx-text-fill: white;
}

#close:hover{
    -fx-background-color: #ecb203;
    -fx-background-radius: 30 0 0 30;
    -fx-cursor: hand;
    -fx-text-fill: black;
}

#start{
    -fx-background-radius: 0 30 30 0;
}

#start:hover{
    -fx-background-radius: 0 30 30 0;
}

#ships{
    -fx-font-size: 14;
    -fx-background-radius: 0 0 0 0;
    -fx-background-color: #107de5;
    -fx-text-fill: white;
}

#ships:hover{
    -fx-background-color: #03dbec;
    -fx-cursor: hand;
    -fx-text-fill: black;
    -fx-background-radius: 0 0 0 0;
}


.button:hover{
    -fx-background-color: #5573c2;
    -fx-background-radius: 30 0 0 30;
    -fx-cursor: hand;
    -fx-text-fill: black;
}

.background{
    -fx-background-color: #303139
}

.textBorder{
    -fx-fill: #db0303;
    -fx-stroke: #100557;
    -fx-stroke-width: 1.8px;
}