.button{
    -fx-background-color: #071d58;
    -fx-background-radius: 30 0 0 30;
    -fx-font-size:18;
    -fx-text-fill: white;
}

.button:hover{
    -fx-background-color: #5573c2;
    -fx-background-radius: 30 0 0 30;
    -fx-cursor: hand;
    -fx-text-fill: black;
}

.background{
    -fx-background-color: #303139
}

.textBorder{
    -fx-fill: #db0303;
    -fx-stroke: #100557;
    -fx-stroke-width: 1.8px;
}