.button{
    -fx-background-color: #071d58;
    -fx-background-radius: 30 0 0 30;
    -fx-font-size:18;
    -fx-text-fill: white;
}

#close{
    -fx-background-color: gray;
    -fx-background-radius: 0 0 0 0;
    -fx-text-fill: white;
    -fx-font-size: 12;
}

#close:hover{
    -fx-background-color: red;
    -fx-background-radius: 0 0 0 0;
    -fx-cursor: hand;
    -fx-text-fill: black;
    -fx-font-size: 12;
}

#start{
    -fx-background-radius: 0 30 30 0;
}

#start:hover{
    -fx-background-radius: 0 30 30 0;
}

#back{
    -fx-background-radius: 30 30 30 30;
}

#back:hover{
    -fx-background-color: orange;
    -fx-background-radius: 30 30 30 30;
}

#ships{
    -fx-font-size: 14;
    -fx-background-radius: 0 0 0 0;
    -fx-background-color: #107de5;
    -fx-text-fill: white;

    -fx-border-color: black;
    -fx-border-width: 1 1 1 1;
}

#ships:hover{
    -fx-background-color: #03dbec;
    -fx-cursor: hand;
    -fx-text-fill: black;
    -fx-background-radius: 0 0 0 0;
}


.button:hover{
    -fx-background-color: #5573c2;
    -fx-background-radius: 30 0 0 30;
    -fx-cursor: hand;
    -fx-text-fill: black;
}


.background{
    -fx-background-color: #303139
}

.textBorder{
    -fx-fill: #db0303;
    -fx-stroke: #100557;
    -fx-stroke-width: 1.8px;
}

#textField{
    -fx-font-size: 13;

    -fx-border-color: black;
    -fx-background-radius: 0 0 0 0;
    -fx-border-width: 1 1 1 1;
}

#battleship{
    -fx-background-color: #074f94;
    -fx-background-radius: 0 0 0 0;
    -fx-max-width: 20;
    -fx-max-height: 60;
}